:root{
    --primary-color: #FFBF00;
    --secondary-color: #FACD33;
    --tertiary-color: #F4DB65;
    --darker-background-color:#ECF0B1;
    --background-color: #E9F7CA
    --background-image: url("/public/delivery.jpg");
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}