.registro-interno-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registro-interno-formulario h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.registro-interno-formulario input[type="password"] {
    width: 35%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.registro-interno-formulario button {
    width: 30%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registro-interno-formulario button:hover {
    background-color: #0056b3;
}

.registro-interno-error {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 90%;
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registro-interno-error h2 {
    font-size: 20px;
    color: #d9534f;
    text-align: center;
}

.registro-interno-error p {
    font-size: 14px;
    color: #555;
    text-align: center;
}

.registro-interno-error input[type="text"] {
    width: 25%;
    width: auto;
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registro-interno-error button {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 25%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registro-interno-error button:hover {
    background-color: #218838;
}
