.traking {
    flex-grow: 1;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: white;
}

.informacion {
    width: 45%;
    height: 300px;
    padding: 20px;

    & .contenedor-datos{
        display: flex;
        flex-direction: column;
        border: 1px solid green;
    }
}

.imagen-centro {
    width: 10%;
    height: 300px;
}