.zona-sesiones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: var(--background-color);
    width: 100%;
    gap:5%
}

.zona-sesiones > .formularios{
    display: flex;
    justify-content: center;
}

.zona-sesiones > div.diseño-embellecimiento{
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
}

.diseño-embellecimiento img{
    height: 150px;
    width: auto;
}


.registro {
    width: 20%;
    height: 50%;
    
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.form-usuario-div, .form-usuario-data, .form-usuario-registro-contraseñas {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    color: red;
    font-size: 0.8rem;
}

/* Responsive */




@media screen and (max-width: 768px){
    .formularios{
        flex-direction: column;
    }

    form{
        width: 80%;
    }
    
}