.zona-sesiones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    min-width: 400px;
    background-color: var(--background-color);

    & .div-formulario {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: flex-end;

        & form {
            margin-top: 0;
            width: 50%;
        }

        & .embellezedor {
            width: 50%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            background-color: var(--resaltar);
            margin: 0;

            & img {
                width: 20px;
                height: 20px;
            }
        }
    }

    & .diseño-embellecimiento {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: flex-start;

        & .texto {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1em;
        }

        & img {
            width: 50%;
            height: auto;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;

    & input {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
    }
}

.registro,
.login {
    width: 20%;
    height: 500px;
    background-color: var(--darker-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &>button {
        margin-bottom: 20px;
    }
}

.login>button {
    margin-bottom: 40px;
}

.registro {
    &>.botones {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}

.label-sesiones {
    display: flex;
    flex-direction: row;
    align-items: center;

    & img {
        margin-bottom: 10px;
    }

    & input {
        font-size: 14px;
        width: 200px;
        border: none;
        background-color: var(--darker-background-color);
        border-bottom: 1px solid black;
    }
}

.perfil-usuario{
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    & h1 {
        grid-column: 1 / -1;
        text-align: center;
    }
    & .uno{
        height: 90%;
        justify-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        & form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            
        }
    }

    & .dos {
        height: 90%;
        justify-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        & .direcciones {
            height: 50%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            align-content: center;
            align-items: center;
            justify-content: space-around;
            & .actuales{ 
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
                justify-content: center;
                align-content: center;
                align-items: center;
                justify-content: space-around;
            }
            & .direccion-guarda {
                height: 40px;

                padding: 10px;
                background-color: white;
                border-radius: 20px;
                transition: transform 0.2s ease, box-shadow 0.2s ease;
            }
        
            & .direccion-guarda:hover {
                transform: scale(1.2);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }

            & .btn-añadir-direccion {
                width: 50%;
                height: 40px;
                padding: 10px;
                background-color: white;
                border-radius: 20px;
                transition: transform 0.2s ease, box-shadow 0.2s ease;
            }

            & .btn-añadir-direccion:hover {
                transform: scale(1.2);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
            
        }
        
        & .pedidos {
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
    }
}