.pedido-guardado{
    background-color: var(--tertiary-color);
    border:2px solid black;
    color: black;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
}